:root {
  --poppins: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  margin-left: 5.5rem;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Poppins", sans-serif;
}

/* HEADER */

.header-component {
  margin-left: 10rem;
  background: #ffffff;
  border-bottom: 1px solid #bababa;
  color: #929292;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 10.8rem;
}

.button-w {
  display: flex;
  align-items: center;
  transform: translateX(5rem);
  gap: 5.5rem;
}

.button-w a {
  font-family: var(--poppins);
  font-size: 1.8em;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  color: #929292;
  text-decoration: none;
}

.button-w .tasksManager {
  font-family: var(--poppins);
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 3.3rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.search-w {
  width: 35rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  background: #eeeeee;
  color: #cac6c6;
  border-radius: 7px;
  padding-left: 1.5rem;
  margin-right: 7.5rem;
  gap: 1rem;
  font-size: 1.5rem;
}

.search {
  background: #eeeeee;
  font-family: var(--poppins);
  font-style: normal;
  line-height: 2.4rem;
  font-weight: 600;
  outline: none;
  border: none;
}

.search::placeholder {
  color: #cac6c6;
}

/* SIDEBAR */

.sidebar-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  height: 100%;
  background-color: #eeeeee;
}

.sidebar-logo {
  margin-top: 2.5rem;
  width: 6rem;
  height: 6rem;
  background-color: #d9d9d9;
}

.sidebar-button {
  display: flex;
  flex-direction: column;
  margin-top: 12rem;
  gap: 3rem;
}

.sidebar-button i {
  font-size: 2.3rem;
}

/* HOME */

.home-container {
  margin-left: 10rem;
}
